sfsynchwithretrypattern/src/main/mule/RetryProcessingFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="RetryProcessingFlow" doc:id="ff1cb920-2d72-4616-9e45-43a0dbc19ef8" maxConcurrency="1">
		<scheduler doc:name="Scheduler" doc:id="6f5ef880-460d-4b26-b5e6-487eb74276c7" >
			<scheduling-strategy >
				<fixed-frequency frequency="15" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<os:contains doc:name="Contains" doc:id="2c3c5c4b-621e-43fb-8d5b-801b18c57d79" key="RetryKeys" target="RertyKeyExists" />
		<choice doc:name="there are Keys" doc:id="c43d06b1-9bad-462e-817e-24bfe65b029c" >
			<when expression="#[vars.RetryKeyExists]">
				<os:retrieve doc:name="Retrieve" doc:id="37eb49e0-f049-45c3-aa10-cbc30c7b8a69" key="RetryKeys" target="RetryKeys" />
				<ee:transform doc:name="convert to list for query" doc:id="b2484f1b-77a7-4662-b3b7-9bbf3a996540" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.ReryKeys map ("(Id = '" ++ $ ++ "')") joinBy " OR "]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="Call Records Proessing" doc:id="d7292efc-fc55-486c-8655-090e967a46fa" name="CallRecordsProcessing"/>
				<os:remove doc:name="Remove" doc:id="8628dcb3-b8fa-414d-a279-230a138edadd" key="RetryKeys" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="049f17ed-277d-4a35-9857-581c456e1727" message="No keys"/>
			</otherwise>
		</choice>
	</flow>
</mule>
